*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ml-5 {
  margin-left: 5px;
}
.mr-5 {
  margin-right: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.pd-10 {
  padding: 10px;
}
.m-10 {
  margin: 10px;
}

